@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font1: Verdana, Geneva, Tahoma, San-serif;
  --font2: "Montserrat", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  min-height: 100vh;
  background-color: darkgray;
  font-family: var(--font2);
}

header {
  background-color: black;
  color: white;
  text-align: center;
  font-family: var(--font2);
  font-size: 2vw;
}

header > h1 {
  padding-top: 50px;
  text-transform: uppercase;
}

header > p {
  padding-bottom: 2em;
}

header a,
footer a {
  color: white;
  text-decoration: none;
}

header a:hover,
footer a:hover {
  font-weight: bolder;
}

section {
  padding-top: 7vh;
  padding-bottom: 7vh;
  line-height: 2em;
  padding-left: 30px;
  font-family: var(--font2);
  font-size: 2vw;
}

section > p {
  padding-bottom: 2em;
}

section.normal {
  background-color: white;
  color: black;
}

section.imagem {
  background-color: rgba(0, 0, 0, 0.089);
  color: white;
  box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.4);
  background-size: cover;
  background-attachment: fixed;
}

section.imagem > p {
  display: inline-block;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.308);
}

section#img01 {
  background-image: url("../imagens/background001.jpg");
  background-position: right center;
}

section#img02 {
  background-image: url("../imagens/background002.jpg");
  background-position: right center;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  font-family: var(--font2);
}
